@use "./../../utils" as o;
.button {
    font-size: 1.4rem; font-weight: 500;
    &__1 {
        background: var(--button-light);
        padding: 4px 8px; border-radius: 4px; 
        box-shadow: 2px 2px 5px rgba( 0 0 0 / .3); cursor: pointer;
        //transition: color .3s, background .3s; 
        @include o.transition(.15s, null, color, background, scale, box-shadow);

        &:hover {
            background: #5a5396; color: var(--button-dark-txt); scale: 0.98;
            box-shadow: 0px 0.5px 5px rgba( 0 0 0 / .8);
        }
    }
}