*, ::before, ::after {
  box-sizing: border-box;
}

button, input {
  border: none;
  outline: none;
  background: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  padding-inline: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font: inherit;
}

.app-todo {
  --main: #413F3F;
  --main-trans: #413F3F99;
  --second: #f4f4f4;
  --shadow: 15.965px 11.714px 53.373px 0px rgba(0, 0, 0, 0.20);
  --space: 16px;
  --uncheck: #C4C4C4;
  --check: #B5B5BA;
}

.todos__item, .todos__header, .todos__input {
  display: flex;
  align-items: center;
  gap: calc(var(--space) / 2);
}

.todos__item-check, .todos__number {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-todo {
  font: inherit;
  padding: 40px 30px;
  max-width: 400px;
  width: 80%;
  position: relative;
  aspect-ratio: 1/1;
  background: var(--second);
  box-shadow: var(--shadow);
  font-weight: 400;
}
.app-todo p {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
}
.app-todo button {
  cursor: pointer;
}
.app-todo i {
  font-size: 1.4rem;
}
.app-todo::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 30.6/1.3;
  width: 100%;
  background: url(./../img/layout.svg) center/cover no-repeat;
}
.app-todo__disable-obj {
  display: none;
}

.todos__wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  gap: 12px;
}

.todos__input {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 1.4rem;
}
.todos__input > * {
  flex-shrink: 0;
}
.todos__input input {
  flex-grow: 1;
}

.todos__view {
  flex-grow: 1;
  overflow: hidden;
}
.todos__view-item {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.todos__header {
  flex-shrink: 0;
}
.todos__header > * {
  flex-shrink: 0;
}
.todos__separator {
  flex-grow: 1;
  height: 1px;
  background: rgba(188, 188, 195, 0.4392156863);
  margin-left: 5px;
  margin-right: 5px;
}
.todos__number {
  background: var(--main);
  color: var(--second);
  border-radius: 6px;
  width: 20px;
  height: 20px;
  cursor: default;
  font-size: 1.1rem;
  font-weight: 600;
}
.todos__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
.todos__container {
  flex-grow: 1;
  overflow: hidden;
}

.todos__button-plain {
  width: 10.5px;
  display: flex;
  align-items: center;
  color: var(--main-trans);
  transition: color 0.3s, fill 0.3s;
  cursor: pointer;
}
.todos__button-plain svg {
  fill: var(--main-trans);
}
.todos__button-plain--posEnd {
  padding: 0;
}
.todos__button-plain:hover {
  color: var(--main);
}
.todos__button-plain:hover svg {
  fill: var(--main);
}
.todos__icon {
  padding-right: 5px;
  width: 16px;
  height: 16px;
}
.todos__icon--folder {
  margin-left: -3px;
  padding: 0;
  width: 25px;
  height: 25px;
}

.todos .swiper[todos-slide-view=active] {
  overflow: hidden;
  height: 100%;
}
.todos .swiper[todos-slide-view=done] {
  overflow: hidden;
  height: 100%;
}
.todos .swiper[todos-slide-view=all] {
  overflow: hidden;
  height: 100%;
}
.todos .swiper[todos-sliding-container=switch-mode] {
  overflow: hidden;
  height: 100%;
}

.todos__item-check {
  width: 20px;
  height: 20px;
  border: 2px solid var(--uncheck);
  position: relative;
  border-radius: 6px;
  margin-right: 2px;
  transition: border-color 0.3s, background 0.3s;
  flex-shrink: 0;
}
.todos__item-check:hover {
  border-color: var(--main-trans);
}
.todos__item-check:hover + p > span::after {
  transform-origin: left center;
  transform: scaleX(1);
}
.todos__item-check::after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 12px;
  height: 8px;
  background: url(./../img/checked.svg) center/contain no-repeat;
}
.todos__item-name {
  position: relative;
  flex-grow: 1;
}
.todos__item-name span {
  word-break: break-all;
  width: fit-content;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.todos__item-name span::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  bottom: -0.3px;
  left: 0;
  transition: transform 0.3s;
  transform-origin: right center;
  transform: scaleX(0);
}
.todos__item-name span:hover::after {
  transform-origin: left center;
  transform: scaleX(1);
}
.todos__item-edit {
  z-index: 10;
  background: var(--second);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.todos__filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.todos__filter-item {
  border: 1.5px solid var(--uncheck);
  padding: 2px 5px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 6px;
  color: var(--uncheck);
  transition: border-color 0.3s, background 0.3s, color 0.3s, filter 0.3s;
}
.todos__filter-item:hover:not(.todos__filter-item--selected) {
  border-color: var(--main);
  color: var(--main);
}
.todos__filter-item--selected {
  background: var(--main);
  border-color: var(--main);
  color: var(--second);
}
.todos__filter-item--selected:hover {
  filter: brightness(1.03);
}
.todos__item[todos-item-mode=normal] .todos__item-edit {
  display: none;
}
.todos__item[todos-item-mode=normal] button[todos-item-command=delete] {
  display: flex;
}
.todos__item[todos-item-mode=normal] button[todos-item-command=cancel] {
  display: none;
}
.todos__item[todos-item-mode=normal] button[todos-item-command=edit] {
  display: none;
}
.todos__item[todos-item-status=done] .todos__item-check {
  background: var(--check);
  border-color: var(--check);
  position: relative;
}
.todos__item[todos-item-status=done] .todos__item-check:hover {
  border-color: var(--main-trans);
  background: var(--main-trans);
}
.todos__item[todos-item-status=done] .todos__item-check::after {
  display: block;
}
.todos__item[todos-item-status=done] .todos__item-name {
  color: var(--check);
  text-decoration: line-through;
}
.todos__item[todos-item-status=done] .todos__item-name span::after {
  display: none;
}
.todos__item[todos-item-status=done] .todos__item-edit {
  display: none;
}
.todos__item[todos-item-status=done] button[todos-item-command=delete] {
  display: flex;
}
.todos__item[todos-item-status=done] button[todos-item-command=edit] {
  display: none;
}
.todos__item[todos-item-status=done] button[todos-item-command=cancel] {
  display: none;
}
.todos__item[todos-item-mode=edit] .todos__item-edit {
  display: block;
}
.todos__item[todos-item-mode=edit] button[todos-item-command=delete] {
  display: none;
}
.todos__item[todos-item-mode=edit] button[todos-item-command=edit] {
  display: flex;
}
.todos__item[todos-item-mode=edit] button[todos-item-command=cancel] {
  display: flex;
}

/*# sourceMappingURL=todo.css.map */
